body{
}

img{
    width: 350px;
}

.div1{
    
}

.div2{
    height: 50px;
    width: 50px;
    display: inline-block;
}

p {
    display: inline-block;
}

ul{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.vinyle{
    
}

@keyframes turn {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.johnny{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.disque{
    position: relative;
    display: inline-block;
    animation: turn 2s infinite linear;
}

.pause{
    animation-play-state: paused;
}